<section class="gradient-custom bg-image">
  <div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col col-8">

        <header class="custom-header">
          <div class="container">
            <h1 class="custom-h1 font-weight-bold">Todo App!</h1>
          </div>
        </header>

        <div class="card custom-card">
          <div class="card-body p-4">

            <form class="todo-form-input">
              <div class="form-outline flex-fill">
                <input (keyup.enter)="addTodo($event)" autocomplete="off" autofocus
                       class="form-control"
                       data-test="input-todo" placeholder="Type a new task ...">
              </div>
              <button class="btn btn-info ms-2" data-test="add-button" type="button">Add</button>
            </form>

            <div class="d-flex align-items-center mb-4">
              <!--              <button class="btn btn-primary me-3">&#8964;</button>-->
              <input (click)="toggleAll($any($event.target).checked )" class="me-3 form-check-input toggle-all-checkbox"
                     type="checkbox">

              <!-- Tabs navs -->
              <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active">All</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link">Active</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link">Completed</a>
                </li>
              </ul>
              <!-- Tabs navs -->
            </div>

            <!-- Tabs content -->
            <div class="tab-content" id="ex1-content">
              <div class="tab-pane fade show active" id="ex1-tabs-1">
                <ul class="list-group mb-0">
                  <li *ngFor="let todo of todos; index as idx" [ngClass]="{ 'line-through': todo.completed}"
                      class="custom-li">
                    <input [(ngModel)]="todo.completed"
                           class="form-check-input me-2"
                           type="checkbox">
                    {{todo.label}}
                  </li>
                  <li class="custom-li">
                    <input checked class="form-check-input me-2" type="checkbox"/>
                    <input class="form-control border-0 bg-white" type="text" value="Cras justo odio in edit mode"/>
                  </li>

                </ul>
              </div>
            </div>
            <!-- Tabs content -->

          </div>
        </div>

        <div class="card custom-card">
          <div class="card-body  custom-padding">
            5 remaining tasks
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<pre>
  {{todos | json}}
</pre>
