<section class="bg-image">
  <div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col col-8">

        <header class="custom-header">
          <div class="container">
            <h1 class="custom-h1">Todo App!</h1>
          </div>
        </header>

        <div class="card custom-card">
          <div class="card-body p-4">

            <!--  Form to add new todo-->
            <!--            <form class="todo-form-input">-->
            <!--              <div class="form-outline flex-fill">-->
            <!--                <input (keyup.enter)="addTodo($event.target.value, $event.target)" autocomplete="off" autofocus-->
            <!--                       class="form-control"-->
            <!--                       data-test="input-todo" placeholder="Type a new task ...">-->
            <!--              </div>-->
            <!--            </form>-->
            <!--  Form to add new todo-->

            <!--  Form to add new todo-->
            <form (ngSubmit)="addTodoFC()" class="todo-form-input">
              <div class="form-outline flex-fill">
                <input [formControl]="inputFormControl" autocomplete="off"
                       autofocus
                       class="form-control"
                       data-test="input-todo" placeholder="Type a new task ...">
              </div>
              <button class="custom-button" data-test="add-button" type="submit">Add</button>
            </form>
            <!--  Form to add new todo-->

            <div class="d-flex align-items-center mb-4">
              <!-- toggle all todos to completed -->
              <input (click)="toggleAll($any($event.target).checked )"
                     [formControl]="inputToggleAllFormControl"
                     class="me-3 form-check-input toggle-all-checkbox"
                     type="checkbox">
              <!-- toggle all todos to completed-->

              <!-- Filtering Action button -->
              <button (click)="setTasksFilterStatus(TODO_FILTER_ENUM.ALL)"
                      [class.myactive]="isFilterStatus(TODO_FILTER_ENUM.ALL)"
                      class="m-1 custom-button">All
              </button>
              <button (click)="setTasksFilterStatus(TODO_FILTER_ENUM.ACTIVE)"
                      [class.myactive]="isFilterStatus(TODO_FILTER_ENUM.ACTIVE)"
                      class="m-1 custom-button">Active
              </button>
              <button (click)="setTasksFilterStatus(TODO_FILTER_ENUM.COMPLETED)"
                      [class.myactive]="isFilterStatus(TODO_FILTER_ENUM.COMPLETED)"
                      class="m-1 custom-button">Completed
              </button>
            </div>

            <!-- List content -->
            <div class="list-content">
              <ul class="list-group mb-0">
                <li (dblclick)="onEditTodo(todo)"
                    *ngFor="let todo of (todos | todoFilterPipe:todosFilterChoice); index as idx"
                    [ngClass]="{ 'line-through': todo.completed}"
                    class="custom-li">

                  <div *ngIf="editingTodo?.id!==todo.id; then thenShow else elseEditing"></div>

                  <!-- SHOW mode-->
                  <ng-template #thenShow>
                    <ng-container>
                      <div class="d-flex align-items-center flex-grow-1">
                        <input (change)="toggleCompleted(todo)"
                               [(ngModel)]="todo.completed"
                               [id]="'todo'+ idx" class="form-check-input me-2"
                               type="checkbox">
                        <label [for]="'todo'+ idx">{{ todo.label }}</label>
                      </div>
                      <button (click)="removeTodo(todo)" class="btn btn-close btn-sm"></button>
                    </ng-container>
                  </ng-template>

                  <!-- EDIT mode-->
                  <ng-template #elseEditing>
                    <div class="input-group">
                      <div class="d-flex align-items-center flex-grow-1">
                        <input (change)="toggleCompleted(todo)"
                               [(ngModel)]="todo.completed"
                               [id]="'todo'+ idx" class="form-check-input me-2"
                               type="checkbox">
                        <input #inputEdit
                               (blur)="onExitEdit()"
                               (keyup.enter)="onExitEdit()"
                               [(ngModel)]="todo.label"
                               class="form-control border-0 bg-whitline-through"
                        />
                      </div>
                    </div>
                  </ng-template>

                </li>
              </ul>
            </div>
            <!-- List content -->

          </div>
        </div>

        <div class="card custom-card">
          <div class="card-body  custom-padding">
            {{ todos | remainingTodosMessage}}
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<pre>
  {{todos | json}}
</pre>
